In [86]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import PowerTransformer
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
df = pd.read_csv('Data_Marketing_Customer_Analysis_Round3.csv')
df = pd.DataFrame(df)
df

,region,customer_lifetime_value,response,coverage,education,effective_to_date,month,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,central,4809,no,basic,college,2/18/11,feb,employed,m,48029,...,52,0,9,corporate auto,corporate l3,offer3,agent,292,four-door car,medsize
1,west region,2228,no,basic,college,1/18/11,jan,unemployed,f,92260,...,26,0,1,personal auto,personal l3,offer4,call center,744,four-door car,medsize
2,east,14947,no,basic,bachelor,2/10/11,feb,employed,m,22139,...,31,0,2,personal auto,personal l3,offer3,call center,480,suv,medsize
3,north west,22332,yes,extended,college,1/11/11,jan,employed,m,49078,...,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
4,north west,9025,no,premium,bachelor,1/17/11,jan,medical leave,f,23675,...,31,0,7,personal auto,personal l2,offer1,branch,707,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,15563,no,premium,bachelor,1/19/11,jan,unemployed,f,61541,...,40,0,7,personal auto,personal l1,offer3,web,1214,luxury car,medsize
10685,north west,5259,no,basic,college,1/6/11,jan,employed,f,61146,...,68,0,6,personal auto,personal l3,offer2,branch,273,four-door car,medsize
10686,central,23893,no,extended,bachelor,2/6/11,feb,employed,f,39837,...,63,0,2,corporate auto,corporate l3,offer1,web,381,luxury suv,medsize
10687,west region,11971,no,premium,college,2/13/11,feb,employed,f,64195,...,27,4,6,personal auto,personal l1,offer1,branch,618,suv,medsize
10688,central,6857,no,basic,bachelor,1/8/11,jan,unemployed,m,68942,...,1,0,3,personal auto,personal l1,offer4,web,1021,suv,medsize

In [101]:
TT_RATIO = 0.3
RAND_STATE = 40
x = df.drop('total_claim_amount', axis=1)
y = df.total_claim_amount
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=TT_RATIO, random_state=RAND_STATE)
x_train = pd.DataFrame(x_train)
x_test = pd.DataFrame(x_test)
numericalX = x.select_dtypes(np.number)
categoricalx = x.select_dtypes(np.object)

C:\Users\pedro\AppData\Local\Temp\ipykernel_10956\3405005441.py:9: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  categoricalx = x.select_dtypes(np.object)

In [88]:
pt = PowerTransformer()
ct = ColumnTransformer([("pt", pt, list(numericalX.columns))],
                        remainder='drop',verbose_feature_names_out=True,verbose=True).fit(x_train)
x_train_ct = pd.DataFrame(ct.transform(x_train),columns=ct.get_feature_names_out())
x_test_ct = pd.DataFrame(ct.transform(x_test),columns=ct.get_feature_names_out())

[ColumnTransformer] ............ (1 of 1) Processing pt, total=   0.1s

In [89]:
x_train = pd.DataFrame(x_train_ct)
x_test_ct

,pt__customer_lifetime_value,pt__income,pt__monthly_premium_auto,pt__months_since_last_claim,pt__months_since_policy_inception,pt__number_of_open_complaints,pt__number_of_policies
0,0.050730,-1.356158,-0.381873,0.150225,0.493307,1.888107,0.882125
1,0.376214,0.786262,0.399984,1.335482,0.681554,-0.516421,1.134298
2,-0.052632,0.296556,-1.440994,-0.040921,-1.653895,2.003352,-0.061278
3,-0.256654,1.462037,-1.254575,0.417890,-0.286896,2.003352,1.577131
4,-0.221355,0.858966,1.216644,1.603955,0.099597,-0.516421,-1.146658
...,...,...,...,...,...,...,...
3202,-1.336125,1.492578,-0.633343,0.746837,-2.000985,1.998886,-1.146658
3203,0.052056,-0.718567,-0.213581,0.241767,-0.667832,1.888107,1.670156
3204,0.730183,-0.336876,1.127574,1.195427,1.642058,-0.516421,0.517797
3205,-0.075114,-0.455039,1.411875,0.241767,0.167012,-0.516421,-1.146658
3206,-0.137062,1.122373,-0.921576,0.241767,0.712442,1.998886,1.463216

In [90]:
x_train_const_ct = sm.add_constant(x_train_ct.to_numpy()) # adding a constant

model = sm.OLS(y_train, x_train_const_ct).fit()
predictions_train = model.predict(x_train_const_ct)

x_test_const_ct = sm.add_constant(x_test_ct) # adding a constant
predictions_test = model.predict(x_test_const_ct)
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:     total_claim_amount   R-squared:                       0.319
Model:                            OLS   Adj. R-squared:                  0.318
Method:                 Least Squares   F-statistic:                     500.0
Date:                Thu, 02 Feb 2023   Prob (F-statistic):               0.00
Time:                        16:08:16   Log-Likelihood:                -51703.
No. Observations:                7482   AIC:                         1.034e+05
Df Residuals:                    7474   BIC:                         1.035e+05
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        435.4237      2.806    155.166      0.000     429.923     440.925
x1            -4.0508      3.771     -1.074      0.283     -11.442       3.341
x2           -35.9174      2.808    -12.791      0.000     -41.422     -30.413
x3           163.7945      3.325     49.256      0.000     157.276     170.313
x4             1.2017      2.809      0.428      0.669      -4.306       6.709
x5            -0.3584      2.810     -0.128      0.898      -5.866       5.150
x6            -5.5544      2.809     -1.977      0.048     -11.061      -0.048
x7             2.3630      3.340      0.708      0.479      -4.184       8.910
==============================================================================
Omnibus:                     1811.141   Durbin-Watson:                   2.034
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            10657.894
Skew:                           1.029   Prob(JB):                         0.00
Kurtosis:                       8.473   Cond. No.                         2.24
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [91]:
model=LinearRegression()    # model
model.fit(x_train_ct, y_train)   # model train

LinearRegression()

In [92]:
model.coef_

array([ -4.05076026, -35.91742917, 163.79449222,   1.20165717,
        -0.35844523,  -5.55437204,   2.36297722])

In [93]:
model.intercept_

435.4236835070733

In [94]:
y_pred = pd.DataFrame(model.predict(x_test_ct),columns = ['total_claim_amount'] )      # model prediction
y_pred_train =  pd.DataFrame(model.predict(x_train_ct),columns = ['total_claim_amount'])

In [95]:
#Model Evaluation: MSE, MAE, RMSE.
print(mse(y_test,y_pred))
mse = mse(y_test, y_pred)
print(mae(y_test,y_pred))
np.sqrt(mse)

59395.50640539387
171.29541516305002

243.71193324372499

In [96]:
R2=r2_score(y_test,y_pred) #the R2 is too low, showing 
R2
Adj_R2= 1 - (1-R2)*(len(y_test)-1)/(len(y_test)-x_test.shape[1]-1)
Adj_R2

0.28446313398568024

In [97]:
feature_importances = pd.DataFrame(data= {'Attribute': x_train.columns, 'Importance': abs(model.coef_.reshape(len(x_train.columns),))})
feature_importances = features_importances.sort_values(by='Importance', ascending=False)

In [98]:
#Feature Importance.
features_importances = pd.DataFrame(data={
    'Attribute': x_train.columns,
    'Importance': abs(model.coef_.reshape(len(x_train.columns),))
})
features_importances = features_importances.sort_values(by='Importance', ascending=False)
features_importances

                           Attribute  Importance
2           pt__monthly_premium_auto  163.794492
1                         pt__income   35.917429
5      pt__number_of_open_complaints    5.554372
0        pt__customer_lifetime_value    4.050760
6             pt__number_of_policies    2.362977
3        pt__months_since_last_claim    1.201657
4  pt__months_since_policy_inception    0.358445

In [121]:
#Separating nominals and ordinals
c1 = categoricalx[['region','response', 'gender', 'marital_status', 'employment_status', 'sales_channel', 'vehicle_class', 'policy_type']].copy()
c2 = categoricalx[['coverage', 'education', 'month', 'policy', 'renew_offer_type', 'vehicle_size']].copy()
c2

       coverage education month        policy renew_offer_type vehicle_size
0         basic   college   feb  corporate l3           offer3      medsize
1         basic   college   jan   personal l3           offer4      medsize
2         basic  bachelor   feb   personal l3           offer3      medsize
3      extended   college   jan  corporate l3           offer2      medsize
4       premium  bachelor   jan   personal l2           offer1      medsize
...         ...       ...   ...           ...              ...          ...
10684   premium  bachelor   jan   personal l1           offer3      medsize
10685     basic   college   jan   personal l3           offer2      medsize
10686  extended  bachelor   feb  corporate l3           offer1      medsize
10687   premium   college   feb   personal l1           offer1      medsize
10688     basic  bachelor   jan   personal l1           offer4      medsize

[10689 rows x 6 columns]

In [133]:
c1 = pd.get_dummies(c1) #dummies

#create a hierarchy for the values
mapper = {'basic': 0, 'extended': 1, 'premium': 2, 'high school or below': 0, 'bachelor': 1, 'college': 2, 'master': 3, 'doctor': 4, 'jan': 0, 'feb': 1, 'small': 0, 'medsize': 1, 'large': 2, 'corporate l3': 6, 'personal l3': 3, 'personal l2': 2, 'corporate l2': 5,'personal l1': 1, 'special l1': 7, 'corporate l1': 4, 'special l3': 9,
'special l2': 8}
#add new columns
c2['coverage'] = c2['coverage'].replace(mapper)
c2['education'] = c2['education'].replace(mapper)
c2['month'] = c2['month'].replace(mapper)
c2['policy'] = c2['policy'].replace(mapper)
c2['renew_offer_type'] = c2['renew_offer_type'].replace(mapper)
c2['vehicle_size'] = c2['vehicle_size'].replace(mapper)
c2

       coverage  education  month  policy renew_offer_type  vehicle_size
0             0          2      1       6           offer3             1
1             0          2      0       3           offer4             1
2             0          1      1       3           offer3             1
3             1          2      0       6           offer2             1
4             2          1      0       2           offer1             1
...         ...        ...    ...     ...              ...           ...
10684         2          1      0       1           offer3             1
10685         0          2      0       3           offer2             1
10686         1          1      1       6           offer1             1
10687         2          2      1       1           offer1             1
10688         0          1      0       1           offer4             1

[10689 rows x 6 columns]

In [143]:
TT_RATIO = 0.3
RAND_STATE = 40
z_train, z_test, = train_test_split(c1, test_size=TT_RATIO, random_state=RAND_STATE)
z_train = pd.DataFrame(z_train)
z_test = pd.DataFrame(z_test)
z_train

,region_central,region_east,region_north west,region_west region,response_no,response_yes,gender_f,gender_m,marital_status_divorced,marital_status_married,...,sales_channel_web,vehicle_class_four-door car,vehicle_class_luxury car,vehicle_class_luxury suv,vehicle_class_sports car,vehicle_class_suv,vehicle_class_two-door car,policy_type_corporate auto,policy_type_personal auto,policy_type_special auto
7388,0,0,1,0,1,0,0,1,0,1,...,0,0,0,0,0,0,1,0,1,0
9559,0,0,1,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
3163,0,0,0,1,1,0,0,1,0,1,...,1,0,0,1,0,0,0,0,1,0
338,0,0,1,0,1,0,1,0,0,0,...,0,0,0,0,0,1,0,1,0,0
3501,1,0,0,0,1,0,1,0,0,1,...,0,0,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7839,0,1,0,0,1,0,0,1,1,0,...,1,0,0,0,0,1,0,0,1,0
3603,0,0,1,0,1,0,1,0,1,0,...,0,1,0,0,0,0,0,1,0,0
5959,0,0,0,1,1,0,1,0,0,1,...,0,1,0,0,0,0,0,0,1,0
5426,0,0,0,1,1,0,1,0,0,1,...,0,1,0,0,0,0,0,0,1,0
7608,1,0,0,0,1,0,1,0,1,0,...,0,1,0,0,0,0,0,0,1,0